:root {
    --primary: #7E7E7E;
    --secondary: #F2F4F3;
    --tertiary: #00B120;
    --complimentary: #AB0522;
    --background: #0C0C0C;

    --bar-width: 40px;
    --bar-height: 5px;
    --hamburger-gap: 6px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../assets/font/bebasneue-regular.woff2') format('woff2'),
    url('../assets/font/bebasneue-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    font-family: 'BebasNeue', sans-serif;
    color: var(--secondary);
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav h1 {
    font-size: 41px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.nav-links a {
    padding: 0 10px;
    color: var(--secondary);
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--tertiary);
}

.hamburger {
    display: none;
}

@media (max-width: 450px) {
    .hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);

        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        z-index: 2;
        cursor: pointer;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--secondary);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
    }

    .hamburger-menu input {
        appearance: none;
        outline: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    .nav-links {
        transition: var(--animation-timing);
        position: absolute;
        top: 50px;
        left: 50%;
        right: 50%;
        justify-content: space-evenly;
    }

    .hidden {
        opacity: 0;
        visibility: hidden;
    }
}

/*hero section*/
.landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -96.5px auto 0;
}

.hero-section {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.hero-section ul {
    list-style-type: none;
    margin: 0 auto;
}

.hero-section li:first-child {
    color: var(--primary);
    font-size: 35px;
}

.hero-section li:nth-child(3) {
    color: var(--secondary);
    font-size: 35px;
}

.name {
    font-size: 100px;
}

.name span:first-child {
    color: var(--primary);
}

.name :first-child + span {
    color: var(--tertiary);
}

.hero-links {
    width: 111px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.social-icon {
    width: 30px;
    fill: var(--secondary);
    padding: 5px;
}

.social-icon:hover {
    fill: var(--tertiary);
}

.download-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary);
    width: 111px;
    height: 34px;
    font-size: 20px;
    color: var(--secondary);
    border-radius: 50px;
    margin: 0 auto;
}

.download-button:hover {
    background-color: var(--complimentary)
}

.download-icon {
    width: 25px;
    fill: var(--secondary);
    margin-left: 5px;
}

.avatar {
    border-radius: 50%;
}

.arrow {
    position: absolute;
    bottom: 0;
    width: 50px;
    fill: var(--primary);
}

